node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
docs
tests
.github
demo-database.gz
.env
*.md
*.MD
.env
.eslintrc.json
postman.json
plugins/*
*.gz
*.tgz
scripts/*
dist