[Unit]
Description=OpenHaus Backend
Documentation=https://docs.open-haus.io
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/node /opt/OpenHaus/backend/index.js
WorkingDirectory=/opt/OpenHaus/backend
EnvironmentFile=/opt/OpenHaus/backend/.env
Restart=on-failure
RestartSec=10
Type=simple
#Environment=NODE_ENV=production
#Environment=VAULT_MASTER_PASSWORD=Pa$$w0rd
#Environment=USERS_JWT_SECRET=Pa$$w0rd
#Environment=UUID=00000000-0000-0000-0000-000000000000

[Install]
WantedBy=multi-user.target